.solution-items-icon {
    cursor: pointer;
}

.compare-item-header {
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
}

.compare-item-stats {
    border-radius: 0px 0px 10px 10px;
    padding: 8px;
}
