
a:link {
    color: #9d4e1a;
}


a:visited {
    color: #9d4e1a;
}


.sidebar {
    background-color:#E4E6BC;
}


.mini-menu {
    background-color:#3D200D;
}


.banner {
    background-color:#3D200D;
}


.space {
    background-color:#E4E6BC;
}


.small-space {
    background-color:#E4E6BC;
}


.proj_info{
    background-color:#CACCA7;
    color: #3D200D;
}


.everything {
    background-color:#E4E6BC;
}


.maincontent, .loading {
    background-color: white;
    border-width: 2px;
}

.marquee-text, .tailoring {
    color:#3D200D;
}

.menu_link:link, .menu_link:visited, .menu-collapse-link:link, .menu-collapse-link:visited {

    color: #FFFFFF;
}

.menu_link:link, .menu_link:visited {
    background-color: #3D200D;
}
.menu-collapse-link:link, .menu-collapse-link:visited {
    background-color: #503625;
}

.menu_link:hover, .menu_link:active, .menu-collapse-link:hover, .menu-collapse-link:active {
    background-color: #6B4700;
}
h1 {
    color:#3D200D;
}
h2 {
    color:#3D200D;
}
.post-title {
    color:#3D200D;
}


.post-date {
    color:#9e8f86;
}

.post-content {
    color:#3D200D;
}


.post-image {
    border-color: #3D200D;
    background: #CACCA7 url('kuy-bg.png') center center no-repeat;  
}

.footer {
    color:#3D200D;
}

.menu-hor-line{
    color: #776255;
    background-color: #776255;
}  

#menu-collapse{
    background-color:#503625;
}

.giant-button {
    background-color: #3D200D;
}

.giant-button-text:link, .giant-button-text:visited, .giant-button-text:active {
    color: #FFFFFF;
}  


.home-pic-holder {
    background: url('item-bg.png') center center no-repeat;
}


.loading {
    border-style: solid; 
    border-width: 2px; 
    border-color: #3D200D
}

.darktheme-selector, .darktheme-current{
    color: #DDD;
    background-color: #151515;
}

.lighttheme-selector, .lighttheme-current{
    color: white;
    background-color: #3D200D;
}

.auto-selector, .auto-current{
    color: white;
    background-color: #3D200D;
}
