
a:link {
    color: #FFFFFF;
}


a:visited {
    color: #FFFFFF;
}

.login, .marquee-text, .tailoring {
    color: #DDDDDD;
}

.sidebar {
    background-color:#212121;
}


.mini-menu {
    background-color:#151515;
}


.banner {
    background-color:#151515;
}


.space {
    background-color:#212121;
}


.small-space {
    background-color:#212121;
}


.proj_info{
    background-color:#3e3e3e;
    color: #DDD;
}

.everything {
    background-color:#212121;
}


.maincontent, .loading {
    background-color: #151515;
    border-color: #151515;
    border-width: 0px;
}


.menu_link:link, .menu_link:visited, .menu-collapse-link:link, .menu-collapse-link:visited {

    color: #FFFFFF;
}

.menu_link:link, .menu_link:visited {
    background-color: #151515;
}
.menu-collapse-link:link, .menu-collapse-link:visited {
    background-color: #292929;
}

.menu_link:hover, .menu_link:active, .menu-collapse-link:hover, .menu-collapse-link:active {
    background-color: #333333;
}
h1 {
    color:#DDD;
}
h2 {
    color:#DDD;
}
.post-title {
    color:#FFF;
}


.post-date {
    color:#9e8f86;
}

.post-content {
    color:#FFF;
}


.post-image {
    border-color: #151515;
    background: #616161 url('kuy-bg-grey.png') center center no-repeat;  
}

.footer {
    color:#DDD;
}

.menu-hor-line{
    color: #333333;
    background-color: #333333;
}  

#menu-collapse{
    background-color:#503625;
}

.giant-button {
    background-color: #151515;
}

.giant-button-text:link, .giant-button-text:visited, .giant-button-text:active {
    color: #FFFFFF;
}  


.home-pic-holder {
    background: url('item-bg-grey.png') center center no-repeat;
}

.loading {
    border-width: 0px; 
}

.darktheme-selector, .darktheme-current{
    color: #151515;
    background-color: #DDD;
}

.lighttheme-selector, .lighttheme-current{
    color: #3D200D;
    background-color: #E4E6BC;
}

.auto-selector, .auto-current{
    color: #151515;
    background-color: #DDD;
}
