.solution-items-icon, .solution-item-icon-container, .item-exchange-icon {
    width: 60px;
    height: 60px;
}

.solution-set-icons-list {
}

.solution-set-icon-container {
    float: right;
}

.solution-set-icon, .solution-set-icon-container {
    width: 40px;
    height: 40px;
}

.grayed-out {
    opacity : 0.4;
}

.solution-item-icon-container, .solution-set-icon-container, .item-exchange-icon-container {
    background-size: 100% 100%;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.solution-item-info {
    vertical-align: top;
}

.solution-item-level {
    font-size: 14px;
}

.solution-item-button {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.solution-table {
    width: 100%;
    color: #3D200D;
}

.solution-item-summary {
    vertical-align: top;
    width: 70%;
}

.solution-item-summary-expand-all, .solution-item-summary-collapse-all {
    margin-bottom: 10px;
}

.solution-item-summary-collapse-all {
    margin-left: 20px;
}

.expand-header {
    cursor: pointer;
}

.expand-container {
    margin-bottom: 8px;
    margin-right: 8px;
}

.item-exchange-stats, .item-exchange-comparison {
    padding: 8px;
}

.expand-container .expand-content {
    display: none;
    padding: 8px;
}

.solution-item-section {
    display: table;
    margin-bottom: 15px;
}

.solution-item-section-column {
    display: table-cell;
    vertical-align: top;
}

.solution-item-expand-header {
    width: 260px;
}

.solution-set-expand-header {
    display: table;
}

.solution-set-expand-header, .solution-set-expand-content {
    width: 546px;
}

.solution-set-expand-header-cell {
    display: table-cell;
    vertical-align: top;
}

.solution-item-expand-header, .solution-set-expand-header, .item-exchange-header {
    padding: 8px;
}

.expand-header, .item-exchange-header {
    cursor: pointer;
}

.item-exchange-violations {
    padding: 2px 5px 2px 5px;
    cursor: pointer;
}


.solution-item-expand-header, .solution-set-expand-header {
    border-radius: 10px;
}

.item-exchange-header {
    border-radius: 10px 10px 0px 0px;
}

.solution-item-expand-content, .solution-set-expand-content, .item-exchange-stats, .item-exchange-comparison {
    border-radius: 0px 0px 10px 10px;
}

.solution-item-icons {
    padding-top: 5px;
}

.solution-stat-summary {
    vertical-align: top;
    width: 30%;
    font-size: 14px;
}

.solution-stat-summary-icon-header {
    width: 30px;
}

.solution-stat-summary-name-header {
    width: 45%;
}

.solution-stat-summary-base-value-header {
    width: 50px;
}

.solution-stat-summary-value-header {
    width: 50px;
}

.solution-stat-summary-icon-cell, .solution-stat-summary-value-cell {
    padding: 2px;
    text-align: center;
}

.solution-stat-summary-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.solution-stat-summary-name {
    margin-left: 4px;
}

.solution-stat-summary-mode-option-container {
    float: left;
    width: 50%;
}

.solution-stat-table, .removing-div {
    border-spacing: 0px;
}

.removing-div, .items-to-add {
    padding: 5px;
}

.solution-stat-table{
    border-radius: 7px;
    padding: 2px;
}

.checkbox-text, .removing-div {
    font-weight: bold;
}


.solution-item-hr {
    border: 0;
    height: 1px;
    background: #3D200D;
}

#blanket {
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
}

#popUpDiv {
    position:absolute;
    z-index: 9002;
    width: 500px;
}

.popup-cancel-div {
    padding: 5px;
}

.items-to-add {
    overflow-y: auto;
    height: 800px;
}

.pages-link{
    color: #9d4e1a;
    text-decoration: underline;
    cursor: pointer;
}


.pages-current{
    font-weight: bold;
}

.search-div, #pages {
    padding: 5px;
}

.item-atrib-text, .item-comp-text{
    display: table-cell;
    padding-right: 15px;
}

.solution-item-name-div, .solution-item-link-div {
    display: inline-block;
}

.solution-item-name-div {
    float: left;
    width: 163px;
}

.solution-item-link-div {
    float: right;
}

.loading-exchange-item-div {
    width:100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
