.solution-table {
    color: #3D200D;
}
.item-exchange-stats, .item-exchange-comparison {
    color: #3D200D;
}
.solution-item-expand-header, .solution-set-expand-header, .item-exchange-header {
    background-color: #E4E6BC;
}
.item-exchange-violations {
    background-color: #E4E6BC;
}
.item-exchange-violations-error {
    color: #DD0000;
}

.item-exchange-violations-warning {
    color: #DD5500;
}
.item-exchange-header {
    color: #3D200D;
}

.weapon-order-hits-text, .weapon-order-stats-text {
    color: #3D200D;
}

.solution-item-expand-content, .solution-set-expand-content, .item-exchange-stats, .item-exchange-comparison {
    background-color: #CACCA7;
}
.solution-stat-summary-line:nth-child(even) {
    background-color: #E4E6BC;
}

.solution-stat-summary-line:nth-child(odd) {
    background-color: #CACCA7;
}

.solution-stat-table, .removing-div {
    background-color: #3D200D;
}
.checkbox-text, .removing-div {
    color: #FFFFFF;
}
.solution-negative-stat-text {
    color: #AA0000;
}
.solution-item-hr {
    background: #3D200D;
}
.pages-link{
    color: #9d4e1a;
}
.pages-not-link{
    color: #3D200D;
}
.pages-current{
    color: #3D200D;
}
.loading-exchange-item-div {
    color: #bca08f;
}

.solution-item-icon-container, .solution-set-icon-container, .item-exchange-icon-container {
    background: url('item-bg.png') center center no-repeat;
    border-color: #999;
}


#popUpDiv {
    background-color:#ffffff;
    border: 2px solid;
    border-color: #3D200D;
    border-radius: 10px;
}
