.solution-table {
    color: #151515;
}
.item-exchange-stats, .item-exchange-comparison {
    color: #151515;
}
.solution-item-expand-header, .solution-set-expand-header, .item-exchange-header {
    background-color: #212121;
    color: #DDD;
}
.item-exchange-violations {
    background-color: #212121;
}
.item-exchange-violations-error {
    color: #DD0000;
}

.item-exchange-violations-warning {
    color: #DD5500;
}
.weapon-order-hits-text, .weapon-order-stats-text {
    color: #DDD;
}

.item-exchange-header {
    color: white;
}
.solution-item-expand-content, .solution-set-expand-content, .item-exchange-stats, .item-exchange-comparison {
    background-color: #333333;
    color: #FFF;
}
.solution-stat-summary-line:nth-child(even) {
    background-color: #212121;
}

.solution-stat-summary-line:nth-child(odd) {
    background-color: #333333;
}

.solution-stat-table, .removing-div {
    background-color: #222;
    color: #DDD;
}
.checkbox-text, .removing-div {
    color: #FFFFFF;
}
.solution-negative-stat-text {
    color: #ff5e5e;
}
.solution-item-hr {
    background: #AAA;
}
.pages-link{
    color: #FFF;
}
.pages-not-link{
    color: #DDD;
}
.pages-current{
    color: #DDD;
}
.loading-exchange-item-div {
    color: #DDD;
}

.solution-item-icon-container, .solution-set-icon-container, .item-exchange-icon-container {
    background: url('item-bg-grey.png') center center no-repeat;
    border-color: #212121;
}

#popUpDiv {
    background-color:#151515;
    border: 0px solid;
    border-color: #3D200D;
    border-radius: 15px;
}
