.spell-cell, .outer-cell{
    background-color: #212121;
}
#spells-table {
    color:#DDD;
}
.title-cell{
    color:#DDD;
}
.header-cell {
    background-color: #333333;
}
.water {
    color: #5e5eff;
}
.mixed {
    color: #a65eff;
}
.fire {
    color: #ff5e5e;
}
.air {
    color: #5eff5e;
}
.earth {
    color: #ffa65e;
}

.small-text {
    color: #ddd;
}

.neutral, .neut {
    color: white;
}
.buff_pow_spell, .buff_pshdam, .buff_dam, .buff_pow_weapon, .buff_pow,
.buff_heals, .buff_int, .buff_pow_glyph, .buff_pow_nonglyph, .buff_str,
.buff_cha, .buff_agi, .buff_negfinal, .buff_final {
    color: #ddd;
} 

.aggregate{
    color: #ddd;
}
.crit-hit-title {
    color:#151515;
}
.hr-crit {
    color:#333333;
    background-color:#333333;
}
.level-circle-default-color {
    background: #DDD;
}
.level-circle-earth {
    background: #ffa65e;
}
.level-circle-neutral {
    background: white;
}
.level-circle-fire {
    background: #ff5e5e;
}
.level-circle-water {
    background: #5e5eff;
}
.level-circle-air {
    background: #5eff5e;
}
.level-number-default-color {
    color: #DDD;
}
