{% extends 'chardata/base.html' %}

{% load static_s3 %}
{% load i18n %}

{% block title %}The Dofus Fashionista: {% trans "About" %}{% endblock %}

{% block main %}
  {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

    <h1 align="center"> {% trans "Help & About" %} </h1>
    <table>
    <tr>
    <td><img src="{% static "chardata/designs/myVel.png" %}"></img>
    </td>
    <td class="big-text">
    <p>{% trans "The Dofus Fashionista is a fan site about <a href='http://www.dofus.com'>Dofus</a>. It uses mathematical programming, a branch of <a href='http://en.wikipedia.org/wiki/Artificial_intelligence'>witchcraft</a>, to come up with set suggestions that conform to requirements (e.g. 12 AP, 6 MP with as much Intelligence as possible) the player provides." %}</p>
    <p>{% trans "When a new project is created, the Wizard tries to figure what the character is about by reading the build and class specified. It then creates an initial configuration for the first run." %}</p>
    <p>{% trans "The outfit suggestion might not be what you were looking for. You can find, for example, the HP too low despite the good Agility. Tweaking can be done by going back to the wizard and playing with the sliders, or going hardcore and fiddling directly with the value the attributed to each stat." %}</p>
    <p>{% trans "If items that are too expensive or not available to you are suggested, you can always forbid them and ask for a new set." %}</p>
    
    {% url 'chardata.contact_view.contact' as contact_url %}
    
    <p>{% trans "The Dofus Fashionista is open source software. The code can be found in" %} <a href="https://github.com/PiwiSlayer/DofusFashionista">GitHub</a>.</p>
    <p>{% blocktrans %}To report problems, suggest new features, or rant about the lack of skill of your kolo team, <a href="{{contact_url}}">contact us</a>.{% endblocktrans %}</p>
    <p><a href="{% url 'chardata.views.license_page' %}">{% trans "Copyright and License information" %}</a></p>
    <p>{% trans "Website version:" %} {{site_version}}</p>
    <p>{% trans "English version by: " %} </p>
    
</td>
</tr>
</table>
{% endblock %}

