<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Get Dofus sets created automatically, based on your specific needs.">
    <title>{% block title %}Dofus Fashionista{% endblock %}</title>

    {% load i18n %}
    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.home %}" class="home-css">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.common %}" class="common-css">
    {% block css %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static "chardata/favicon.ico" %}"/>

    <!-- Google Analytics -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_id }}', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script>
    
    function confirmRun() {
        if ((typeof changesPendingStateEngine) !== 'undefined' && changesPendingStateEngine) {
            if (!confirm('{{ _("You have unsaved changes. They will be discarded if you leave.")|escapejs }}')) {
               return false;
            }
            changesPendingStateEngine = false;
        }
        return true;
    }
    
    function loadingAndRun(e) {
        var confirmed = confirmRun();
        if (!confirmed) {
            e.preventDefault();
            return;
        }
        loadingAndRunUnchecked();
    }
    
    function loadingAndRunUnchecked() {
        $(".maincontent").hide();
        $(".loading").show();
        $('html, body').scrollTop($(".loading").offset().top);
    }
    
    </script>
    
</head>
<body class='body-base'>
    <div class='add-banner'>
    <div class='everything'>
    
        <div class='banner' ALIGN=CENTER "position:relative; z-index:1">
          <br>   
          <a href="/"><img src="{% static "chardata/fashionista_banner_fading.png" %}"></img></a>
        </div>
        <div style="position:relative; left:0px; top:-230px; z-index:2; height: 0px" bgcolor="#E4E6BC">
          <a href="/"><img  class='char' src="{% static pic %}"></img></a>
        </div>
        
        
        <div class='space'>
       {% include "chardata/language-selector.html" %}
       {% include "chardata/theme-selector.html" %}
       {% if user and not user.is_anonymous %}
         <div class="login">
            {% if not is_super_user %}
            {% url 'chardata.manage_account_view.manage_account' as manage_account_link %}
                {% if useralias %}
                    {% blocktrans with useralias as user %}Welcome, <a id="logged_user_alias" href="{{manage_account_link}}">{{user}}</a>! {% endblocktrans %} 
                {% else %}
                    {% blocktrans with user.get_full_name as user %}Welcome, <a id="logged_user_alias" href="{{manage_account_link}}">{{user}}</a>! {% endblocktrans %} 
                {% endif %}</a>
            {% else %}
            <b><span style="color: red">[SUPER USER] </span></b>{{ user.get_full_name }}
            {% endif %}
             <a href="{% url 'auth:logout' %}?next=/">{% trans "Logout" %}</a>
         </div>
       {% else %}
          <div class="login">
            <a href="{% url 'chardata.login_view.login_page' %}"> {% trans "Login" %} </a>
          </div>
       {% endif %}
        </div>
        <div class="sidebar" background="#00ff00">
          <div class="mini-menu">
              <div><a class="menu_link menu_link_top" href="/">{% trans "Home" %}</a></div>
              <div><a class="menu_link menu_link_middle"  href="{% url 'chardata.views.about' %}">{% trans "Help & About" %}</a></div>
              <div><a class="menu_link menu_link_bottom"  href="{% url 'chardata.views.faq' %}">{% trans "FAQ" %}</a></div>
          </div>    
              <div class="space"></div>
          <div class="mini-menu">    
              <div>
                <a class="menu_link menu_link_top" href="{% url 'chardata.create_project_view.setup' %}">{% trans "Create a project" %}</a>
              </div>
              <div>
                <a class="menu_link menu_link_middle" href="{% url 'chardata.views.load_projects' %}">{% trans "Load a project" %}</a>
              </div>
              <div>
                <a class="menu_link menu_link_bottom" href="{% url 'chardata.compare_sets_view.choose_compare_sets' %}">{% trans "Compare sets" %}</a>
              </div>
          </div>
          <div class="space"></div>
          <div class="mini-menu">
    {% if char_id and char_id != 0 and not is_guest %}
              <div>
                <a class="menu_link menu_link_top" id="proj-name-link" href="{% url 'chardata.create_project_view.setup' char_id %}">{{char.name}}</a>
              </div>
              <div>
                <a class="menu_link menu_link_middle" href="{% url 'chardata.wizard_view.wizard' char_id %}">{% trans "Wizard" %}</a>
              </div>
              <div id="menu-collapse">
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.base_stats_view.setup_base_stats' char_id %}">{% trans "Base Characteristics" %}</a>
                  </div>
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.options_view.options' char_id %}">{% trans "Options" %}</a>
                  </div>
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.inclusions_view.inclusions' char_id %}">{% trans "Lock Items" %}</a>
                  </div>
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.exclusions_view.exclusions' char_id %}">{% trans "Forbid Items" %}</a>
                  </div>
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.min_stats_view.min_stats' char_id %}">{% trans "Minimum Characteristics" %}</a>
                  </div>
                  <div>
                    <a class="menu-collapse-link menu_link_middle" href="{% url 'chardata.stats_weights_view.stats' char_id %}">{% trans "Characteristics Weights" %}</a>
                  </div>
              </div>
              <div>
                <a class="menu_link menu_link_middle" id="advanced-button" href=""><span id="advanced-text">{% trans "Less" %}</span></a>
              </div>
              <hr class="menu-hor-line">
              <div>
                <a class="menu_link menu_link_middle rerun-button" href="{% url 'chardata.fashion_action.fashion' char_id %}"><img src="{% static 'chardata/1413454601_needle.png' %}" class="button-img"></img>{% trans "Tailor a New Set" %}</a>
              </div>
              <hr class="menu-hor-line">
    {% endif %}
    {% if char_id and char_id != 0 %}
              <div>
                <a class="menu_link {% if is_guest %} menu_link_top {% else %} menu_link_middle {% endif %}{% if not char.solution %} rerun-button {% endif %}"
                {% if is_guest %}
                    {% if char.char_name %}
                    href="{% url 'chardata.solution_view.solution_linked' char.char_name encoded_char_id %}"
                    {% else %}
                    href="{% url 'chardata.solution_view.solution_linked' 'shared' encoded_char_id %}"
                    {% endif %}
                {% else %}
                href="{% url 'chardata.solution_view.solution' char_id %}"
                {% endif %}
                id="solution-link">{% trans "Outfit Suggestion" %}</a>
              </div>
              <div>
                <a class="menu_link menu_link_bottom"
                {% if is_guest %}
                    {% if char.char_name %}
                    
                    href="{% url 'chardata.spells_view.spells_linked' char.char_name encoded_char_id %}"
                    {% else %}
                    href="{% url 'chardata.spells_view.spells_linked' 'shared' encoded_char_id %}"
                    {% endif %}
                {% else %}
                href="{% url 'chardata.spells_view.spells' char_id %}"
                {% endif %}
                id="spells-link">{% trans "Spells Damage" %}</a>
              </div>

    {% endif %}
           </div>
           
    {% if char_id and char_id != 0 %}
          <div class="space"></div>
    {% endif %}
        </div>

        <div class="maincolumn">
        {% if not home %}
            <div class="maincontent" >
                {% include "chardata/main-header.html" with char=char %}
        {% endif %}

                {% block main %}{% endblock %}
        {% if not home %}
            </div>
        {% endif %}
        
        {% include "chardata/loading.html" with char=char language=language %}
   
            <div align="center" class="footer">
        {% trans "Items up to update" %} 2.52
            <br> <a href="{% url 'chardata.views.about' %}">{% trans "Help & About" %}</a> &ndash; <a href="{% url 'chardata.contact_view.contact' %}">{% trans "Contact us" %}</a> &ndash; <a href="{% url 'chardata.views.license_page' %}">{% trans "Copyright and License information" %}</a>
            </div>
        </div>
     </div>
    </div>
<div id="blanket-language" style="display:none;"></div>  
<div id="blanket-theme" style="display:none;"></div>  
<script src="{% static "chardata/blanket.js" %}"></script>  
<script>    
        $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

    var ajaxloader = {{ajaxloader | safe}};
    var images = {{themeimages | safe}};

    function getAllImages(theme)
    {
        if (theme == 'auto') {
            theme = checkTimeForTheme()
        }
        return images[theme];
    }
    
    function setAllImages(theme)
    {
        var images = getAllImages(theme);
        $('#loadingimg').attr("src", images['loader']);
        $('.item-external-image-link').attr("src", images['external']);
        $('.needle-img').attr("src", images['needle']);
        $('.triangle-img').attr("src", images['triangle']);
        $('.build-boxes-tip').attr("src", images['questionmark']);
    }

    function get_loading_img()
    {
        if ('{{theme}}' == 'auto'){
            var now = new Date();
            var h = now.getHours();
            theme = 'lighttheme';
            if (h < 6 || h >= 18 ) {
                theme = 'darktheme';
            }
            return ajaxloader[theme];
        }
        return ajaxloader;
    }
    
    function setLoadingImg(){
        var image = get_loading_img();
        $('#loadingimg').attr("src",image);
    }

    function copyLinkClicked(e) {
        {% if not user or user.is_anonymous %}
        if (!confirm('{{ _("Since you are not logged in, this will replace your current project (if you have one). Continue?")|escapejs }}')) {
            e.preventDefault();
        }
        {% endif %}
    }
 
    function chooseLanguage(language){
        $("#language-input").val(language);
        $("#language-selector").submit();
    }
    
    function checkAutoTheme(){
        if ('{{theme}}' == 'auto') {
            updateAutoThemeFromDjango();
        }
    }
    
    function softCheckTimeForTheme()
    {
        var now = new Date();
        var h = now.getHours();
        theme = 'lighttheme';
        if (h < 6 || h >= 18 ) {
            theme = 'darktheme';
        }
        return theme;
    }
    
    function checkTimeForTheme()
    {
        theme = softCheckTimeForTheme()
        $.post("/changeautotheme/",
           {current: theme},
           function(data) {
           });
        return theme;
    }
    
    function updateAutoThemeFromDjango(){
        theme = checkTimeForTheme();
        if (theme == 'lighttheme') {
            $(".common-css").attr("href", '{% static css_files.commonlighttheme %}');
            $(".home-css").attr("href", '{% static css_files.homelighttheme %}');
            $(".compare-css").attr("href", '{% static css_files.comparelighttheme %}');
            $(".exclusions-css").attr("href", '{% static css_files.exclusionslighttheme %}');
            $(".forms-css").attr("href", '{% static css_files.formslighttheme %}');
            $(".solution-css").attr("href", '{% static css_files.solutionlighttheme %}');
            $(".spells-css").attr("href", '{% static css_files.spellslighttheme %}');
        }
        if (theme == 'darktheme') {
            $(".common-css").attr("href", '{% static css_files.commondarktheme %}');
            $(".home-css").attr("href", '{% static css_files.homedarktheme %}');
            $(".compare-css").attr("href", '{% static css_files.comparedarktheme %}');
            $(".exclusions-css").attr("href", '{% static css_files.exclusionsdarktheme %}');
            $(".forms-css").attr("href", '{% static css_files.formsdarktheme %}');
            $(".solution-css").attr("href", '{% static css_files.solutiondarktheme %}');
            $(".spells-css").attr("href", '{% static css_files.spellsdarktheme %}');
        }
    }
    
        function updateAutoThemeFromData(data){
        theme = checkTimeForTheme();
        if (theme == 'lighttheme') {
            $(".common-css").attr("href", data['commonlighttheme']);
            $(".home-css").attr("href", data['homelighttheme']);
            $(".compare-css").attr("href", data['comparelighttheme']);
            $(".exclusions-css").attr("href", data['exclusionslighttheme']);
            $(".forms-css").attr("href", data['formslighttheme']);
            $(".solution-css").attr("href", data['solutionlighttheme']);
            $(".spells-css").attr("href", data['spellslighttheme']);
        }
        if (theme == 'darktheme') {
            $(".common-css").attr("href", data['commondarktheme']);
            $(".home-css").attr("href", data['homedarktheme']);
            $(".compare-css").attr("href", data['comparedarktheme']);
            $(".exclusions-css").attr("href", data['exclusionsdarktheme']);
            $(".forms-css").attr("href", data['formsdarktheme']);
            $(".solution-css").attr("href", data['solutiondarktheme']);
            $(".spells-css").attr("href", data['spellsdarktheme']);
        }
    }
    
    function chooseTheme(theme){
        $.post("/changetheme/",
           {theme: theme},
           function(data) {
              if (theme == 'auto') {
                   updateAutoThemeFromData(data);
              } else {
                  $(".common-css").attr("href", data['common']);
                  $(".home-css").attr("href", data['home']);
                  $(".compare-css").attr("href", data['compare']);
                  $(".exclusions-css").attr("href", data['exclusions']);
                  $(".forms-css").attr("href", data['forms']);
                  $(".solution-css").attr("href", data['solution']);
                  $(".spells-css").attr("href", data['spells']);
              }
              setAllImages(theme);
              toggleBlanket('blanket-theme');
              toggleBlanket('other-themes');
            
           }
       );
    }
    
    function setThemeChoices() {
        $("#theme-light").click(function() {
            chooseTheme('lighttheme');
        });
        $("#theme-dark").click(function() {
            chooseTheme('darktheme');
        });
        $("#theme-auto").click(function() {
            chooseTheme('auto');
        });
    }
    
    function setFlags() {
        $("#flag-en").click(function() {
            chooseLanguage('en');
        });
        $("#flag-pt").click(function() {
            chooseLanguage('pt');
        });
        $("#flag-fr").click(function() {
            chooseLanguage('fr');
        });
        $("#flag-es").click(function() {
            chooseLanguage('es');
        });
    }
    
    function toggleBlanket(div_id) {
        var el = document.getElementById(div_id);
        if ( el.style.display == 'none' ) {	
            el.style.display = 'block';
        } else {
            el.style.display = 'none';
        }
    }
    
    function getCurrentTheme() {
        if ('{{theme}}' == 'auto') {
            return softCheckTimeForTheme();
        }
        else {
            return '{{theme}}';
        }
    
    }
    
    $(document).ready(function() {
        checkAutoTheme();
        setFlags();
        setThemeChoices();
        setLoadingImg();
        $(".loading").hide();
        $(".rerun-button").click(loadingAndRun)
        $(".copy-action-link").click(copyLinkClicked);
        $("#other-flags").hide();
        $("#other-themes").hide();
        $("#blanket-language").click(function() {
            toggleBlanket('blanket-language');
            toggleBlanket('other-flags');
        });
        $("#blanket-theme").click(function() {
            toggleBlanket('blanket-theme');
            toggleBlanket('other-themes');
        });
        $("#flag").click(function() {
            popup(0, 'other-flags', 'blanket-language');
        });
        $(".current-theme").click(function() {
            popup(0, 'other-themes', 'blanket-theme');
        });
        {% if not advanced %}
            var menu = $("#menu-collapse");
            menu.hide();
            var spantext = $("#advanced-text");
            spantext.text('{{ _("More")|escapejs }}');
        {% endif %}
        $("#advanced-button").click(function(e){
            var menu = $("#menu-collapse");
            var spantext = $("#advanced-text");
            e.preventDefault();
            if (menu.is(":hidden")){
                menu.slideDown("slow");
                spantext.text('{{ _("Less")|escapejs }}');
            } else {
                menu.slideUp("slow");
                spantext.text('{{ _("More")|escapejs }}');
            }
    });
});
</script>        
     
</body>

</html>
