 {% load static_s3 %}
{% load i18n %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.home %}" class="home-css css-file">
    <link rel="stylesheet" type="text/css" href="{% static css_files.common %}" class="common-css css-file">
    
<div class="maincontent">
 <div>
  
 <table>
    <tr>
      <td style="vertical-align: top; padding: 0px 20px 0px 0px"><img src="{% static image %}" class="post-image"></img>
      </td>
     <td>
        <div class="post-title">{{title}}</div>
        <div class="post-date">{{date}} {% trans "by" %} {{author}}</div>
        <div class="post-content">
        {{message|safe}}
        </div>
     </td>
    </tr>
</table>  
</div> 
</div>
