{% load static_s3 %}
{% load i18n %}
<table align="center" id="table-{{select_name}}"><tr>
        <td width="35%" align="right">
            <div class="solution-item-icon-container">
                <img src="{% static "chardata/item-bg.png" %}" id="item-picture-{{select_name}}" class="solution-items-icon">
            </div>
        </td>
        <td class="solution-item-info" style="vertical-align: middle;" id="td-{{select_name}}">
            <button class='button-generic-foreground' type="button" id='button-add-{{select_name}}'>{% trans "Choose" %}</button>
            <div id='{{select_name}}-name' ></div>
            <input id="item-id-{{select_name}}" class='change-modifies-state' type="hidden" name="{{select_name}}">
            <span id="item-level-{{select_name}}" class="item-level"></span>
            <div class="solution-item-icons"> 
            <img src='{% static "chardata/cross-icon.png" %}' class='click-modifies-state button-remove' style="vertical-align: middle;" id="button-remove-{{select_name}}">
            </div>
        </td>
        </tr>
</table>
