{% extends 'chardata/base.html' %}

{% load i18n %}

{% block title %}The Dofus Fashionista: {% trans "Options" %}{% endblock %}

{% block main %}

    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

<form id="main_form" method="post">
    {% csrf_token %}
    <h1 align="center">{% trans "Options" %}</h1>
    
    <p align="center" class='big-text'>{% blocktrans %}Choose what expensive or uncommon options can be used in your character's set.{% endblocktrans %}</p>
    
    <table align="center" width="80%">
    <tr>
    <td>
        <table>
        <tr>
        <td>
            <img src="{% static "chardata/Ga_Pa_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow AP Exo" %}<br>
            <label><input type="radio" name="ap_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="ap_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
            <br>
            <br>
        </td>
        </tr>
        </table>
    </td>
    <td>
        <table>
        <tr>
         <td>
            <img src="{% static "chardata/Po_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Range Exo" %}<br>
            <label><input type="radio" name="range_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="range_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    <tr>
    <td style="vertical-align: top;">
        <table>
        <tr>
        <td>
            <img src="{% static "chardata/Ga_Pme_Rune.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow MP Exo" %}<br>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="gelano">{% trans "Only Gelano" %}</label>
            <label><input type="radio" name="mp_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
        </td>
        </tr>
        </table>
    </td>
    <td>
        <table>
        <tr>
        <td>
            <img src="{% static "chardata/Major_Scholar.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Dofuses and Trophies" %}<br>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="yes">{% trans "Yes" %}</label>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="no">{% trans "No" %}</label>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="lightset">{% trans "Remove only <2" %}</label>
            <br>
            <label><input type="radio" name="dofus" class="change-modifies-state" value="cawwot">{% trans "Allow only Cawwot Dofus" %}</label>
        </td>
        </tr>
        </table>
        
    </td>
    </tr>
    <tr>
    <td>
        <table>
        <tr>
        <td>
            <img src="{% static "chardata/Almond and Ebony Rhineetle.png" %}" class="option_icon">
        </td>
        <td class='big-text'>
            {% trans "Allow Mounts" %}<br>
            <label><input type="checkbox" name="dragoturkey" class="change-modifies-state">{% trans "Dragoturkeys" %}</label>
            <label><input type="checkbox" name="seemyool" class="change-modifies-state"">{% trans "Seemyools" %}</label> <br>
            <label><input type="checkbox" name="rhineetle" class="change-modifies-state">{% trans "Rhineetles" %}</label>
            <br>
            <br>
        </td>
        </tr>
        </table>
        
    </td>
    </tr>
    </table>
    
    <div class='big-text' align="center">
                    <br>
                    <br>
       <div class="brown-box" align="center">
                    {% trans "Allow dofuses:" %} <br><br>
           <div>
           <div class="dofus-box">
                <label class='cawwot'>
                    <img src="{% static "chardata/cawwot.png" %}" class="option_icon cawwot"><br>
                    <input type="checkbox" name="cawwot" class="change-modifies-state cawwot"><br>
                    {% trans "Cawwot" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='grofus'>
                    <img src="{% static "chardata/grofus.png" %}" class="option_icon grofus"><br>
                    <input type="checkbox" name="grofus" class="change-modifies-state grofus"><br>
                    {% trans "Grofus" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dokoko'>
                    <img src="{% static "chardata/dokoko.png" %}" class="option_icon dokoko"><br>
                    <input type="checkbox" name="dokoko" class="change-modifies-state dokoko"><br>
                    {% trans "Dokoko" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='vulbis'>
                    <img src="{% static "chardata/vulbis.png" %}" class="option_icon vulbis"><br>
                    <input type="checkbox" name="vulbis" class="change-modifies-state vulbis"><br>
                    {% trans "Vulbis" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dolmanax'>
                    <img src="{% static "chardata/dolmanax.png" %}" class="option_icon dolmanax"><br>
                    <input type="checkbox" name="dolmanax" class="change-modifies-state dolmanax"><br>
                    {% trans "Dolmanax" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='watchers'>
                    <img src="{% static "chardata/watchers.png" %}" class="option_icon watchers"><br>
                    <input type="checkbox" name="watchers" class="change-modifies-state watchers"><br>
                    {% trans "Watchers" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='kaliptus'>
                    <img src="{% static "chardata/kaliptus.png" %}" class="option_icon kaliptus"><br>
                    <input type="checkbox" name="kaliptus" class="change-modifies-state kaliptus"><br>
                    {% trans "Kaliptus" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dotrich'>
                    <img src="{% static "chardata/dotrich.png" %}" class="option_icon dotrich"><br>
                    <input type="checkbox" name="dotrich" class="change-modifies-state dotrich"><br>
                    {% trans "Dotrich" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class="emerald">
                    <img src="{% static "chardata/emerald.png" %}" class="option_icon emerald"><br>
                    <input type="checkbox" name="emerald" class="change-modifies-state emerald"><br>
                    {% trans "Emerald" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='crimson'>
                    <img src="{% static "chardata/crimson.png" %}" class="option_icon crimson"><br>
                    <input type="checkbox" name="crimson" class="change-modifies-state crimson"><br>
                    {% trans "Crimson" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ochre'>
                    <img src="{% static "chardata/ochre.png" %}" class="option_icon ochre"><br>
                    <input type="checkbox" name="ochre" class="change-modifies-state ochre"><br>
                    {% trans "Ochre" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='turquoise'>
                    <img src="{% static "chardata/turquoise.png" %}" class="option_icon turquoise"><br>
                    <input type="checkbox" name="turquoise" class="change-modifies-state turquoise"><br>
                    {% trans "Turquoise" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='cloudy'>
                    <img src="{% static "chardata/cloudy.png" %}" class="option_icon cloudy"><br>
                    <input type="checkbox" name="cloudy" class="change-modifies-state cloudy"><br>
                    {% trans "Cloudy" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ivory'>
                    <img src="{% static "chardata/ivory.png" %}" class="option_icon ivory"><br>
                    <input type="checkbox" name="ivory" class="change-modifies-state ivory"><br>
                    {% trans "Ivory" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ice'>
                    <img src="{% static "chardata/ice.png" %}" class="option_icon ice"><br>
                    <input type="checkbox" name="ice" class="change-modifies-state ice"><br>
                    {% trans "Ice" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='abyssal'>
                    <img src="{% static "chardata/abyssal.png" %}" class="option_icon abyssal"><br>
                    <input type="checkbox" name="abyssal" class="change-modifies-state abyssal"><br>
                    {% trans "Abyssal" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='lavasmith'>
                    <img src="{% static "chardata/lavasmith.png" %}" class="option_icon lavasmith"><br>
                    <input type="checkbox" name="lavasmith" class="change-modifies-state lavasmith"><br>
                    {% trans "Lavasmith" %}
                </label><br>
            </div>
            </div>
        </div>
    </div>
    <br>
     <div align="center">
        {% include "chardata/state_engine_all_buttons.html" with include_tailor=True %}
     </div>
</form>

<script src="{% static "chardata/stateengine.js" %}"></script>
<script src="{% static "chardata/options.js" %}"></script>
<script>
var initialOptions = {{options | safe}};

$(document).ready(function() {

    setupStateEngine(optionsInit,
            "{% url 'chardata.options_view.options_post' char_id %}",
            initialOptions);
    disableUnusableDofus(initialOptions.dofusnotforchar);
});
</script>
{% endblock %}

