{% extends 'chardata/base.html' %}

{% load i18n %}
{% load static_s3 %}

{% block title %}The Dofus Fashionista: {% trans "Password Reset" %}{% endblock %}

{% block main %}
    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

    <h1 align="center"> {% trans "Password Reset" %} </h1>
    <table align="center">
    <tr>
        <td>
            <p class="big-text">
                {% blocktrans %}The password for <b>{{username}}</b> has been reset to:{% endblocktrans %}
            </p>
            <p class="big-text">
                <b>{{new_password | safe}}</b>
            </p>
            <p class="big-text">
                <a href="{% url 'chardata.login_view.login_page' %}">{% trans "Proceed to logging in" %}</a>.
            </p>
        </td>
        <td>
            <img src="{% static "chardata/designs/myRegister.png" %}"></img>
        </td>
    </tr>
    </table>
{% endblock %}
