{% load i18n %}
{% load static_s3 %}
<input type="button" class="button-generic" id="button-discard-changes" value='{{ _("Discard Changes")|escapejs }}' style="margin-right: 10px;" />
<input type="button" class="button-generic" id="button-save" value='{{ _("Save")|escapejs }}' style="margin-right: 10px;" />
{% if include_tailor %}
<button type="button" class="button-generic" id="button-save-and-tailor"><img src="{% static 'chardata/1413454601_needle.png' %}" class="state-button-img"></img>{% trans "Save and Tailor a New Set" %}</button>
{% endif %}

