{% extends 'chardata/base.html' %}

{% load i18n %}
{% block title %}The Dofus Fashionista: {% trans "Characteristics Weights" %}{% endblock %}

{% block main %}

    {% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

<form id="main_form" method="post">
    {% csrf_token %}
    <h1 align="center">{% trans "Characteristics Weights" %}</h1>

    <p align="center" class='big-text'>{% trans "The value of each attribute point for this character." %}</p>
    <p align="center" class='big-text'>{% trans "Dofus Fashionista maximizes the total value of all your character's attributes. Increasing the weight of an attribute will cause others to be sacrificed for it. Decreasing the weight of an attribute will cause it to be sacrificed for others." %}</p>

    <div align="center">
    <div class="inline-div" align="right">
        <table class="weight-stat-table">

            {% include "chardata/weight_stat_line.html" with icon="chardata/Vitality.png" stat_name=_("Vitality") stat_key="vit" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Wisdom.png" stat_name=_("Wisdom") stat_key="wis" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Strength") stat_key="str" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Intelligence") stat_key="int" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Chance") stat_key="cha" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Agility") stat_key="agi" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Power") stat_key="pow" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Melee Damage") stat_key="permedam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Ranged Damage") stat_key="perrandam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Weapon Damage") stat_key="perweadam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Spells Damage") stat_key="perspedam" %}
            <tr class="weight-stat-line"><td style="height: 20px;"</td><td></td><td></td></tr>
            {% include "chardata/weight_stat_line.html" with icon="chardata/AP.png" stat_name=_("AP") stat_key="ap" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/MP.png" stat_name=_("MP") stat_key="mp" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Range.png" stat_name=_("Range") stat_key="range" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Summon.png" stat_name=_("Summons") stat_key="summon" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Critical Hits") stat_key="ch" %}
            <tr class="weight-stat-line"><td style="height: 20px;"></td><td></td><td></td></tr>
            {% include "chardata/weight_stat_line.html" with icon="chardata/Initiative.png" stat_name=_("Initiative") stat_key="init" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Prospecting.png" stat_name=_("Prospecting") stat_key="pp" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Lock.png" stat_name=_("Lock") stat_key="lock" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Dodge.png" stat_name=_("Dodge") stat_key="dodge" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("AP Reduction") stat_key="apred" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("MP Reduction") stat_key="mpred" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("AP Loss Resist") stat_key="apres" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("MP Loss Resist") stat_key="mpres" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Pushback Resist") stat_key="pshres" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Critical Resist") stat_key="crires" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Pods") stat_key="pod" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Reflects") stat_key="ref" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Trap Damage") stat_key="trapdam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Trap Damage") stat_key="trapdamper" %}
            <tr class="weight-stat-line"><td style="height: 20px; "></td><td></td><td></td></tr>
            {% include "chardata/weight_stat_line.html" with stat_name=_("Damage") stat_key="dam" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("Neutral Damage") stat_key="neutdam" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Earth Damage") stat_key="earthdam" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Fire Damage") stat_key="firedam" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Water Damage") stat_key="waterdam" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Air Damage") stat_key="airdam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Critical Damage") stat_key="cridam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Pushback Damage") stat_key="pshdam" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("Heals") stat_key="heals" %}
            <tr class="weight-stat-line"><td style="height: 20px;"></td><td></td><td></td></tr>
            {% include "chardata/weight_aggregate_line.html" with name=_("All Resists") id="aggregate-linearres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("Neutral Resist") stat_key="neutres" classes="weight-linearres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Strength.png" stat_name=_("Earth Resist") stat_key="earthres" classes="weight-linearres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("Fire Resist") stat_key="fireres" classes="weight-linearres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Chance.png" stat_name=_("Water Resist") stat_key="waterres" classes="weight-linearres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Agility.png" stat_name=_("Air Resist") stat_key="airres" classes="weight-linearres" %}
            <tr class="weight-stat-line"><td style="height: 20px;"></td><td></td><td></td></tr>
            {% include "chardata/weight_aggregate_line.html" with name=_("All % Resists") id="aggregate-percentres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Neutral.png" stat_name=_("% Neutral Resist") stat_key="neutresper" classes="weight-percentres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Strength.png" stat_name=_("% Earth Resist") stat_key="earthresper" classes="weight-percentres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Intelligence.png" stat_name=_("% Fire Resist") stat_key="fireresper" classes="weight-percentres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Chance.png" stat_name=_("% Water Resist") stat_key="waterresper" classes="weight-percentres" %}
            {% include "chardata/weight_stat_line.html" with icon="chardata/Agility.png" stat_name=_("% Air Resist") stat_key="airresper" classes="weight-percentres" %}
            <tr class="weight-stat-line"><td style="height: 20px;"></td><td></td><td></td></tr>
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Melee Resist") stat_key="respermee" %}
            {% include "chardata/weight_stat_line.html" with stat_name=_("% Ranged Resist") stat_key="resperran" %}
        </table>
        <br>
        <div align="center">
        {% include "chardata/state_engine_all_buttons.html" with include_tailor=True %}
        </div>
    </div>
</div>
  
</form>

<script src="{% static "chardata/stateengine.js" %}"></script>
<script>

var initialWeights = {{default_weights_json | safe}};

function init(weights) {
    $.each(initialWeights, function(statKey, value) {
        $("#weight_" + statKey).val(value);
    });
    
    jQuery.each($(".weight-stat-input"), function() {
        changeColorZero($(this));
    });

    $.each(aggregates, function(i, aggregate) {
        decideColorsFunctions[aggregate]();
    });
}

function changeColor(obj, enabled) {
    obj.css("color", enabled ? "#dddddd" : "#555555");
}

function changeColorZero(obj) {
    changeColor(obj, obj.val() != 0 && obj.val() != "");
}

var aggregates = ["linearres", "percentres", "pvplinearres", "pvppercentres"];
var decideColorsFunctions = {};

$(document).ready(function() {
    $(".weight-stat-input").change(function() {
        var value = $(this).val();
        if (value < -5000) $(this).val(-5000);
        else if (value > 5000) $(this).val(5000);
        changeColorZero($(this));
    });

    $.each(aggregates, function(i, aggregate) {
        var master = $("#aggregate-" + aggregate);
        var minions = $(".weight-" + aggregate);

        decideColorsFunctions[aggregate] = function() {
            var different = false;
            minions.each(function() {
                if ($(this).val() != minions.first().val()) {
                    different = true;
                    return false;
                }
            });
            changeColor(master, !different);
            changeColor(minions, different);
            master.val(different ? "" : minions.first().val());
        };

        master.change(function() {
            minions.val(master.val());
            changeColor(master, true);
            changeColor(minions, false);
        });
        minions.change(decideColorsFunctions[aggregate]);
    });
    
    setupStateEngine(init,
         "{% url 'chardata.stats_weights_view.stats_post' char_id %}",
         initialWeights);
});

</script>
{% endblock %}
