{% extends 'chardata/base.html' %}

{% load i18n %}
  

{% block title %}The Dofus Fashionista: {% trans "Thank you" %}{% endblock %}

{% block main %}
{% load static_s3 %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">
<h3 align="center" class='text'>{% blocktrans %}Your message has been sent.{% endblocktrans %}</h3>
<p align="center" class='text'>{% blocktrans %}Thank you for contacting us.{% endblocktrans %}</p>
{% url 'chardata.home_view.home' as home_url %}
<p align="center" class='text'>{% blocktrans %}Click <a href="{{home_url}}">here</a> to go back.{% endblocktrans %}</p>
{% endblock %}

