{% extends 'chardata/base.html' %}

{% load i18n %}
{% load static_s3 %}

{% block title %}The Dofus Fashionista: {% trans "Wizard" %}{% endblock %}

{% block main %}
    <link rel="stylesheet" type="text/css" href="{% static "chardata/solution.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chardata/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static css_files.solution %}" class="solution-css css-file">
    <link rel="stylesheet" type="text/css" href="{% static css_files.forms %}" class="forms-css css-file">

<form id="wizard-form" action="{% url 'chardata.wizard_view.wizard_post' char_id %}" method="post">
    {% csrf_token %}
    <h1 align="center">{% trans "Wizard" %}</h1><br><br>
    <div class= 'wizard-flying-pic'>
         <img src="{% static wizard_pic %}"></img>
    </div>
    
    <table align="center">
    <tr>
    <td align="center">
        {% include "chardata/wizard_min_stats.html" %}<br><br>
        {% include "chardata/wizard_inclusions.html" %}<br><br>
    </td>
    <tr>
    <td>
        {% include "chardata/wizard_options.html" %}<br><br>
    </td>
    </tr>
    <tr>
    <td align="center">
        {% include "chardata/wizard_scrolling.html" %}<br><br>
    </td>
    </tr>
    <tr>
    <td>
        {% include "chardata/wizard_sliders.html" %}
    </td>
    </tr>
    </table>
    <br><br>
    <div align="center">
    <button class='submit-button button-generic rerun-button' id="tailor-set"><img src="{% static 'chardata/1413454601_needle.png' %}" class="button-img">{% trans "Tailor a New Set" %}</button>
    </div>
</form>
<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
    <div class="removing-div"></div>
    <div class="search-div" align="right"></div>
    <div class="items-to-add"></div>
    <table width="100%">
    <tr>
    <td align="left">
        <div id="pages"></div>
    </td>
    <td align="right">
    <div align="right" class="popup-cancel-div">
        <button class='button-generic cancel-popup'>{% trans "Cancel" %}</button>
    </div>
    </td>
    </tr>
    </table>
</div>
{% include "chardata/jqueryui.html" %}
<script src="{% static "chardata/inclusions.js" %}"></script>
<script src="{% static "chardata/options.js" %}"></script>
<script src="{% static "chardata/wizard_sliders.js" %}"></script>
<script src="{% static "chardata/solution_popup.js" %}"></script>
<script>

        $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

var initialData = {{ wizard_data | safe }};
var constantData = {{ constant_data | safe }};
var triangleURL = {{ triangle_url | safe }};

function init(data) {
    // Minimums
    $("#min_AP").val(data.mins.mins["AP"]);
    $("#min_MP").val(data.mins.mins["MP"]);
    $("#min_Range").val(data.mins.mins["Range"]);
}

function lockItem(itemId, slot, char_id) {
    inclusionsUpdateLine(itemId, slot, constantData.inclusions.items_by_type, constantData.inclusions.slot_to_type)
    $("#blanket").click();
}

function getTriangleURL()
{
    if ('{{theme}}' == 'auto'){
        var now = new Date();
        var h = now.getHours();
        theme = 'lighttheme';
        if (h < 6 || h >= 18 ) {
            theme = 'darktheme';
        }
        return triangleURL[theme];
    }
    return triangleURL;
}

$(document).ready(function() {
    init(initialData);
    inclusionsInit(initialData.inclusions, constantData.inclusions.items_by_type, constantData.inclusions.items_by_type_and_name, constantData.inclusions.slot_to_type,
constantData.inclusions.images_urls);
    optionsInit(initialData.options.options);
    wizardSlidersInit(initialData.sliders.sliders, getTriangleURL());
    
    var scrolling = initialData.scrolled.scrolling;
    if (scrolling == null) {
        $("#scrolling option[value='clean']").prop('selected', true);
        $("#scrolling option[value='leave']").remove();
    } else if (scrolling == 100) {
        $("#scrolling option[value='fully']").prop('selected', true);
        $("#scrolling option[value='leave']").remove();
    } else {
        $("#scrolling option[value='leave']").text('{% trans "Leave scrolling at" %}' + " " + scrolling.Vitality + ", " + scrolling.Wisdom + ", " + scrolling.Strength + ", " + scrolling.Intelligence + ", " + scrolling.Chance + ", " + scrolling.Agility + ".");
        $("#scrolling option[value='leave']").prop('selected', true);
    }
    
    $("#button-reset-sliders").click(function() {
        if (confirm('{{_("This will reset the tuning sliders back to the default for your build.")|escapejs}}')) {
            $.post("/wizardgetsliders/{{char_id}}/",
                   {},
                   function(data) {               
                       var sliders_data = data;
                       wizardSlidersReset(sliders_data);
                   });
        }
    });
    $("#tailor-set").click(function(){
        $("#wizard-form").submit()
    });
    var addButton = $("#button-add-weapon");

    addButton.click(function(e){
        e.stopPropagation();
        populateSwitchDivInitial("weapon", 1, null, {{char_id}}, "", lockItem, false);
        top = $(window).scrollTop();
        popupSwitch(top.pageYOffset + 10);
    });
    
    
    $(".cancel-popup").click(function() {
         top = $(window).scrollTop().pageYOffset + 10;
         popupSwitch(top);
    });
    $("#blanket").click(function() {
         top = $(window).scrollTop().pageYOffset + 10;
         popupSwitch(top);
    });
    disableUnusableDofus(initialData.options.options.dofusnotforchar);
});

</script>

{% endblock %}

