{% load i18n %}
<div class="wizard-div min-stat-name" align="center">
    <b>{% trans "Fine tune stat weights" %}:</b><br><br>
    <div align="center" class="small-explain" style="width: 90%;">
    ({% blocktrans %}The sliders below are pre-tuned according to your class and build. They can be used to fine tune a set to suit your particular needs. Increasing one stat weight means it will go up, but the others will go down.{% endblocktrans %})
    </div>
    <br>
<div style="display: inline-block; width: 500px;">
<table align="center" style="width: 100%;">
<tr>
<td align="center">
<div class="wizard-section-sliders" align="left">
</div>
</td>
</tr>
</table>
    <div align="right" style="margin-right: 10px;">
        <input type="button" class="button-thin-foreground" id="button-reset-sliders" style="margin: 15px;" value='{{_("Reset to default")|escapejs}}' />
    </div>
</div>
</div>

